vm_name = "toolset-vm"
ssh_username = "ubuntu"
vm_resource_group_name = "test-resource-group"
vm_size = "Standard_D4_v4"
suffix = ""
toolset_image_name = "SpringOne2021K8sToolsetImage"
toolset_image_version = "latest"
sig_name = "toolsetvms"
sig_resource_group_name = "test-resource-group"